body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;;
}
.page-header{
    background-color: #43281c;
    height: 73px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.website-logo{
    height: 25px;
    margin: 0;
    padding: 0;
    position: relative;
    top:3px;
   

}
.page-header h1{
    color: #fbf2c0;
    font-size: 25px;
    font-weight: bold;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    column-gap: 30px;
    row-gap: 30px;
   

}

.order-box{
    background-color: #eee1d5;
    
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.order-box-title{
    color: #43281c;
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.payment-box{
    background-color: #eee1d5;
    height: 362px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.items{
    list-style-type: none;
    
}

.item{
    display: grid;
    grid-template-columns: 76.5px 612fr 76.5fr;
    border-bottom:burlywood 3px solid;
    margin: 10px;

}
.item-flavour{
    font-weight: bold;
}
.item-price{
    font-weight:bold;
}
.order-addons{
    list-style-type: none;
    width:612px;
    position: relative;
    left: 26px;
    margin: 10px;
    color:#B08968;
}
.item:last-child{
    border-bottom: none;
}

.name-card-box{
    background-color: #eee1d5;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;
    margin: 0;
    margin-bottom: 33px;
    position: block-inline;
}
.payment-card{
    background-color: #eee1d5;
    height: 203.5px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}


  .example-input {
    background-color: rgba(0,0,0,0);
    border-color: #885a2d;
    padding: 8px;
    border-radius: 5px;
    left: 20px;
    width: 95%;
    border-radius: 100px;
  }

  .input-label {
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 700px;
    top: 152px;
    padding: 0 4px;
  }

.order-box{
    margin: 0;
}
.payment-card{
    margin: 0;

}

.name-box-title{
    color: #43281c;
    padding: 0;
    font-weight: normal;
    font-size: 15px;
}

.payment-card{
    padding: 20px;
}
.total-payment-title{
    color: #43281c;
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    
}


  .example-input-payment{
    background-color: rgba(0,0,0,0);
    border-color: #885a2d;
    padding: 8px;
    border-radius: 5px;
    left: 20px;
    width: 95%;
    border-radius: 100px;
  }

  .input-label-payment {
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 700px;
    top: 309px;
    padding: 0 4px;
  }

  .example-input-CCV{
    background-color: rgba(0,0,0,0);
    border-color: #885a2d;
    padding: 8px;
    border-radius: 5px;
    left: 20px;
    width: 29%;
    border-radius: 100px;
    margin: 20px;
    margin-left: 0;
  }

  .input-label-CCV {
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 700px;
    top: 365px;
    padding: 0 4px;
  }

